{{- if and (.Values.awsForFluentBit) (.Values.awsForFluentBit.enable) -}}
#
# NAME                                                              READY   STATUS             RESTARTS           AGE
# dummy-app-postgres-ping-5bd88dd9c8-8k7z9                          0/1     CrashLoopBackOff   4324 (3m59s ago)   35d
# fhir-data-generator-7c4987db49-tfb9k                              1/1     Running            2 (4d14h ago)      5d20h
# fhir-ingestor-wrangler-svc-84f85bcf6c-sxc9m                       1/1     Running            0                  5d20h
# fhir-push-ingestor-svc-6b79b7c64d-fgsqt                           1/1     Running            0                  5d20h
# navoy-sepsis-predictor-svc-5d7d6c86cb-wmq2h                       1/1     Running            0                  33d
# node-debugger-ip-10-101-1-123.eu-north-1.compute.internal-8shxh   1/1     Running            0                  12d
# observation-aggregation-svc-695bc5477f-m5wxn                      1/1     Running            0                  23h
# patient-info-svc-88c878f66-qlwzj                                  1/1     Running            0                  4d
# raw-data-s3-writer-svc-777f475668-cg9mk                           1/1     Running            0                  33d
# sample-app-77b7654f5-qvzqm                                        1/1     Running            0                  35d
# sepsis-prediction-runner-svc-7c55b9b7d9-28wn2                     1/1     Running            1 (12d ago)        13d
# /var/log/containers/dummy-app-postgres-ping*.log,/var/log/containers/fhir-data-generator*.log,/var/log/containers/fhir-ingestor-wrangler-svc*.log,/var/log/containers/fhir-push-ingestor-svc*.log,/var/log/containers/navoy-sepsis-predictor-svc*.log,/var/log/containers/node-debugger-ip-10-101-1-123.eu-north-1.compute*.log,/var/log/containers/observation-aggregation-svc*.log,/var/log/containers/patient-info-svc*.log,/var/log/containers/raw-data-s3-writer-svc*.log,/var/log/containers/sample-app*.log,/var/log/containers/sepsis-prediction-runner-svc*.log,

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-for-fluent-bit
  namespace: {{ .Values.argoNamespace | default "argocd" }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.argoProject | default "default" }}
  source:
    repoURL: {{ .Values.repoUrl }}
    path: add-ons/aws-for-fluent-bit
    targetRevision: {{ .Values.targetRevision }}
    helm:
      values: |
        aws-for-fluent-bit:
        {{- toYaml .Values.awsForFluentBit | nindent 10 }}
          input:
            enabled: false
            tag: "kube.*"
            path: "/var/log/containers/fhir-push-ingestor-svc*.log"
            db: "/var/log/flb_kube.db"
            parser: docker
            dockerMode: "On"
            memBufLimit: 20MB
            skipLongLines: "On"
            refreshInterval: 10

          additionalFilters: |
            [INPUT]
                Name dummy
                Dummy {"log":"{\"msg\":\"KafkaError{code=_RESOLVE,val=-193,str=\\\"ssl://kafka.vpc.algodx.io:9094/bootstrap: Failed to resolve 'kafka.vpc.algodx.io:9094': Name or service not known (after 11ms in state CONNECT, 15 identical error(s) suppressed)\\\"}\",\"event\":\"kafka error\",\"timestamp\":\"2023-09-04T04:08:17.032716Z\",\"level\":\"error\",\"filename\":\"main.py\",\"lineno\":60,\"func_name\":\"kafka_error_cb\"}"}

        
          filter:
            enabled: true
            match: "kube.*"
            kubeURL: "https://kubernetes.default.svc.cluster.local:443"
            mergeLog: "On"
            mergeLogKey: "data"
            keepLog: "On"
            k8sLoggingParser: "On"
            k8sLoggingExclude: "On"
            bufferSize: "32k"

          additionalFilters: |
            [FILTER]
                Name parser
                Match *
                Key_Name log
                Parser json
                Reserve_Data On
                
            [FILTER]
                Name parser
                Match *
                Key_Name log
                Parser cri
                Reserve_Data On

            [FILTER]
                Name parser
                Match *
                Key_Name message
                Parser json
                Reserve_Data On


          additionalOutputs: |
            [OUTPUT]
                Name stdout
                Match *
          resources:
            limits:
              cpu: 500m
              memory: 250M
            requests:
              cpu: 20m
              memory: 100M

      parameters:
      - name: aws-for-fluent-bit.cloudWatch.region
        value: {{ .Values.region }}
      - name: aws-for-fluent-bit.serviceAccount.name
        value: {{ .Values.awsForFluentBit.serviceAccountName }}
      - name: aws-for-fluent-bit.cloudWatch.serviceAccount.name
        value: {{ .Values.awsForFluentBit.serviceAccountName }}
      - name: aws-for-fluent-bit.cloudWatch.logGroupName
        value: {{ .Values.awsForFluentBit.logGroupName }}
  destination:
    server: {{ .Values.destinationServer | default "https://kubernetes.default.svc" }}
    namespace: aws-for-fluent-bit
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace={{ .Values.awsForFluentBit.createNamespace }}
    retry:
      limit: 1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
{{- end -}}
